<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield_content(:title) %></title>

  <script type="text/javascript"><%= javascripts %></script>
  <style><%= stylesheets %></style>

  <meta name="viewport" content="width=device-width, initial-scale=1"/> 
</head>
<body>

  <div class="wrapper">
    <%= yield %>
  </div>

</body>
</html>