<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield_content(:title) %></title>

  <script type="text/javascript"><%= javascripts %></script>
  <script type="text/javascript" src="/javascripts/jquery.knob.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.masonry.min.js"></script>

  <style><%= stylesheets %></style>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  <link rel="icon" href="/images/favicon.ico">  

  <script type="text/javascript">
    var relayout = function() {
      $('#container ul').masonry({ itemSelector: '.widget-container' });
    }

    Dashing.on('ready', function() {
      setTimeout(relayout, 0);
    });

    $(window).resize(relayout);

  </script>
</head>
<body>

  <div id="container">
    <%= yield %>
  </div>

</body>
</html>