<% content_for(:title) { "My super sweet dashboard" } %>
<ul class="list-nostyle clearfix">
  <li class="widget-container">
    <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="1024"></div>
  </li>
  <li class="widget-container">
    <div data-id="convergence" data-view="Meter" data-title="Convergence"data-min="0" data-max="1024"></div>
  </li>
  <li class="widget-container">
    <div data-id="paradigm_shift" data-view="Meter" data-title="Paradigm Shift" data-min="0" data-max="1024"></div>
  </li>
</ul>