// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$widget-table_background-color: #82b53d;
$widget-table_value-color:      #fff;

$widget-table_title-color:      lighten($widget-table_background-color, 45%);
$widget-table_label-color:      lighten($widget-table_background-color, 45%);

// ----------------------------------------------------------------------------
// Widget-table styles
// ----------------------------------------------------------------------------
.widget-table { 

  background-color: $widget-table_background-color;

  th {
    font-weight: 400;
    font-size: 16px;
  }

  td.label {
    vertical-align: middle;
    text-align: left;
    font-size: 23px;
  }

  .title { 
    color: $widget-table_title-color;
  }

  .label {
    color: $widget-table_label-color;    
  }

  .value {
    font-weight: 700;
    font-size: 54px;
    color: $widget-table_value-color;
  }

}