// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #2e864f;
$value-color:       #fff;

$title-color:       lighten($background-color, 75%);
$moreinfo-color:    lighten($background-color, 45%);

$graph_color:       lighten($background-color, 75%);

// ----------------------------------------------------------------------------
// Widget-graph styles
// ----------------------------------------------------------------------------
.widget-graph { 

  background-color: $background-color;
  position: relative;

  svg {
    color: $graph_color;
    opacity: 0.4;
    fill-opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .title, .value {
    position: relative;
    z-index: 99;
  }

  .title { 
    color: $title-color;
  }

  .text-moreinfo {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
  }

  .x_tick {
    position: absolute;
    bottom: 0;
  }

}