// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$background-color:  #9c4274;
$value-color:       #fff;

$title-color:       lighten($background-color, 75%);
$moreinfo-color:    lighten($background-color, 45%);

$meter-background:  darken($background-color, 10%);
$meter-foreground:  lighten($background-color, 75%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter { 

  background-color: $background-color;
  
  input.meter { 
    background-color: $meter-background;
    color: $meter-foreground;
  }

  .title { 
    color: $title-color;
  }

  .text-moreinfo {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
  }
  
}