// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       lighten($background-color, 45%);
$label-color:       lighten($background-color, 45%);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list { 

  background-color: $background-color;
  vertical-align: top;

  .title { 
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;    
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

}