// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;;
$value-color:       #fff;

$title-color:       lighten($background-color, 40%);
$moreinfo-color:    lighten($background-color, 30%);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text { 

  background-color: $background-color;
  
  .title { 
    color: $title-color;
  }

  .text-moreinfo {
    color: $moreinfo-color;
  }
  
}